{% extends "base.html" %}

{% block content %}
    <h1>Create Event</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.eventName.label }}<br>
            {{ form.eventName(size=32) }}<br>
            {% for error in form.eventName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.eventDate.label }}<br>
            {{ form.eventDate(size=32) }}<br>
            {% for error in form.eventDate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
