<html>
<head>
<meta charset="UTF-8"> 
<title>Chessboard</title>
<link rel="stylesheet" href="#old_style.css" type="text/css">
<script src="old_script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
  <center><h1>
    Samuel's Chess Website
  </h1></center>
  <h2 id="selectionIndicator">
    Select an opening to practice:
  </h2>
  <button id="staffordGambitButton" class="opening_option_button" onclick="staffordGambit()">
    Stafford Gambit
  </button>
<!------------------------------------------------------------------------------------------------------------------>
<div id = "chessboard" class ="chessboard hidden">
<!-- 1st -->
<div onclick="selectPiece(this.id)" id = "H1" class="white"></div>
<div onclick="selectPiece(this.id)" id = "G1" class="black"></div>
<div onclick="selectPiece(this.id)" id = "F1" class="white"></div>
<div onclick="selectPiece(this.id)" id = "E1" class="black"></div>
<div onclick="selectPiece(this.id)" id = "D1" class="white"></div>
<div onclick="selectPiece(this.id)" id = "C1" class="black"></div>
<div onclick="selectPiece(this.id)" id = "B1" class="white"></div>
<div onclick="selectPiece(this.id)" id = "A1" class="black"></div>
<!-- 2nd -->
<div onclick="selectPiece(this.id)" id = "H2" class="black"></div>
<div onclick="selectPiece(this.id)" id = "G2" class="white"></div>
<div onclick="selectPiece(this.id)" id = "F2" class="black"></div>
<div onclick="selectPiece(this.id)" id = "E2" class="white"></div>
<div onclick="selectPiece(this.id)" id = "D2" class="black"></div>
<div onclick="selectPiece(this.id)" id = "C2" class="white"></div>
<div onclick="selectPiece(this.id)" id = "B2" class="black"></div>
<div onclick="selectPiece(this.id)" id = "A2" class="white"></div>
<!-- 3th -->
<div onclick="selectPiece(this.id)" id = "H3" class="white"></div>
<div onclick="selectPiece(this.id)" id = "G3" class="black"></div>
<div onclick="selectPiece(this.id)" id = "F3" class="white"></div>
<div onclick="selectPiece(this.id)" id = "E3" class="black"></div>
<div onclick="selectPiece(this.id)" id = "D3" class="white"></div>
<div onclick="selectPiece(this.id)" id = "C3" class="black"></div>
<div onclick="selectPiece(this.id)" id = "B3" class="white"></div>
<div onclick="selectPiece(this.id)" id = "A3" class="black"></div>
<!-- 4st -->
<div onclick="selectPiece(this.id)" id = "H4" class="black"></div>
<div onclick="selectPiece(this.id)" id = "G4" class="white"></div>
<div onclick="selectPiece(this.id)" id = "F4" class="black"></div>
<div onclick="selectPiece(this.id)" id = "E4" class="white"></div>
<div onclick="selectPiece(this.id)" id = "D4" class="black"></div>
<div onclick="selectPiece(this.id)" id = "C4" class="white"></div>
<div onclick="selectPiece(this.id)" id = "B4" class="black"></div>
<div onclick="selectPiece(this.id)" id = "A4" class="white"></div>
<!-- 5th -->
<div onclick="selectPiece(this.id)" id = "H5" class="white"></div>
<div onclick="selectPiece(this.id)" id = "G5" class="black"></div>
<div onclick="selectPiece(this.id)" id = "F5" class="white"></div>
<div onclick="selectPiece(this.id)" id = "E5" class="black"></div>
<div onclick="selectPiece(this.id)" id = "D5" class="white"></div>
<div onclick="selectPiece(this.id)" id = "C5" class="black"></div>
<div onclick="selectPiece(this.id)" id = "B5" class="white"></div>
<div onclick="selectPiece(this.id)" id = "A5" class="black"></div>
<!-- 6th -->
<div onclick="selectPiece(this.id)" id = "H6" class="black"></div>
<div onclick="selectPiece(this.id)" id = "G6" class="white"></div>
<div onclick="selectPiece(this.id)" id = "F6" class="black"></div>
<div onclick="selectPiece(this.id)" id = "E6" class="white"></div>
<div onclick="selectPiece(this.id)" id = "D6" class="black"></div>
<div onclick="selectPiece(this.id)" id = "C6" class="white"></div>
<div onclick="selectPiece(this.id)" id = "B6" class="black"></div>
<div onclick="selectPiece(this.id)" id = "A6" class="white"></div>
<!-- 7th -->
<div onclick="selectPiece(this.id)" id = "H7" class="white"></div>
<div onclick="selectPiece(this.id)" id = "G7" class="black"></div>
<div onclick="selectPiece(this.id)" id = "F7" class="white"></div>
<div onclick="selectPiece(this.id)" id = "E7" class="black"></div>
<div onclick="selectPiece(this.id)" id = "D7" class="white"></div>
<div onclick="selectPiece(this.id)" id = "C7" class="black"></div>
<div onclick="selectPiece(this.id)" id = "B7" class="white"></div>
<div onclick="selectPiece(this.id)" id = "A7" class="black"></div>
<!-- 8th -->
<div onclick="selectPiece(this.id)" id = "H8" class="black"></div>
<div onclick="selectPiece(this.id)" id = "G8" class="white"></div>
<div onclick="selectPiece(this.id)" id = "F8" class="black"></div>
<div onclick="selectPiece(this.id)" id = "E8" class="white"></div>
<div onclick="selectPiece(this.id)" id = "D8" class="black"></div>
<div onclick="selectPiece(this.id)" id = "C8" class="white"></div>
<div onclick="selectPiece(this.id)" id = "B8" class="black"></div>
<div onclick="selectPiece(this.id)" id = "A8" class="white"></div>
</div>
<!------------------------------------------------------------------------------------------------------------------>
</body>
</html>